* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
}


/* NAVBAR */

header {
    background: #111;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #00adb5;
}


/* SECTIONS */

.section {
    padding: 80px 40px;
    text-align: center;
}

.section:nth-child(even) {
    background: #f5f5f5;
}


/* SKILLS */

.skills-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills-box span {
    background: #00adb5;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}


/* FOOTER */

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}


/* MOBILE RESPONSIVE */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}