* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    scroll-behavior: smooth;
}


/* NAVBAR */

header {
    background: #111;
    padding: 15px 0;
}

.navbar {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #00adb5;
}


/* CONTAINER */

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

section {
    margin-bottom: 60px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
}

p {
    color: #555;
}


/* SKILLS */

.skills-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills-box span {
    background: #00adb5;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
}


/* CONTACT */

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
    margin: 20px auto;
}

input,
button {
    padding: 10px;
    font-size: 15px;
}

button {
    background: #00adb5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #007a80;
}

#message {
    margin-top: 10px;
    font-weight: 500;
}


/* FOOTER */

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}


/* MOBILE */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        flex-direction: column;
    }
}